/* src/components/TableStatus.css */
.table-status {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  
  .table-block {
    background-color: #f8f9fa;
    border-radius: 4px;
    padding: 10px;
    flex: 1 1 calc(33% - 20px);
    text-align: center;
    position: relative;
  }
  
  .table-block.occupied {
    background-color: #dc3545; /* Red */
    color: white;
  }
  
  .table-block.free {
    background-color: #28a745; /* Green */
    color: white;
  }
  
  .status {
    display: block;
    margin-top: 5px;
  }
  